[Desktop Entry]
Name=CCloud
Comment=Modern, free, and unlimited Iranian Persian streaming application
Exec=ccloud_gui
Icon=ccloud
Terminal=false
Type=Application
Categories=Utility;